
body {
	padding-left: 0px;
	color:white;
	background-color: #000000;
}

.mobile-menu {
	display: block;
}

.desktop-menu {
	display: none;
}  

.main-menu {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow: scroll;
	opacity: 0;
}

.menu {
	background-color: #000;
}

.photography-menu, .projects-menu {
	opacity: 0;
}

.projects-menu, .photography-menu {
	opacity: 1;
	padding-top: 48px;
	padding-left: 23px;
	line-height: 33px;
	text-align: left !important;

}

header:hover ~ .container {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
}

div.about {
	padding: 55px 0px 0px 0px !important;
}

nav a {
	color: rgb(255, 255, 255);
}

nav a:hover {
	text-shadow:white 0px 0px 0px, white 0px 0px 0px,   white 0px 0px 0px, white 0px 0px 0px;
}

pre:hover {
	text-shadow:white 0px 0px 0px, white 0px 0px 0px,   white 0px 0px 0px, white 0px 0px 0px;
}

iframe {
	width: 100%;
	height: 202px;
	padding-bottom: 35px;
}

pre {
	text-align: justify;
	position: unset;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.hello {
	width: 100% !important;
}

.sub-container {
	padding-top: 40px;
}

.scrollupButton {
	display: none !important;
	opacity: 0 !important;
}

.img-desktop {
	display: none !important;
}
	
.img-mobile {
	display: block !important;
}

.tableCell {
	display: block !important;
	width: 100% !important;
}

.open { /* Класс для открытия и закрытия меню */
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}

.close {
	opacity: 0;
}

header {
	z-index: 2; 
	top: 0px;			  
}
		
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

a {
	color: rgb(255, 255, 255);
}

pre > a {
	text-decoration: underline;
}

	.text-center {
	text-align:center;
}

table {
	height:100%;
	width:100%;
}
	
div.table {
	display: table;
	width: 100%; /*Ширина таблицы*/
	height: 100%; /*Высота таблицы*/
	opacity: 0;

	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
}

div.table-cell {
	display: table-cell; 
	vertical-align: middle;
	border-spacing: 0px;
	opacity: 1;
								
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
}

#HamburgerButton {
	position: fixed;
	outline: 0;
	border: 0; /*Убираем жёлтую линию при клике на изображение*/
	z-index: 11; /*Ставим кнопку на самом верху*/
	opacity: 1;
	transition: all 0.5s;
} 
	
.blackbutton {
	text-decoration: none;
	user-select: none;
	outline: none;
	border: 0px solid;
	border-radius: 2px;
	width: calc(100% - 50px);
	color: #000000;
	align-items: center;
	height: 55px;
	padding: 0;
	text-align: left;
	padding-top: 3px;
	padding-bottom:2 px;
	font-size: 285%;
	font-family: sf-medium;

	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

button {
	border: none;
	background: #00000000;
	padding: 0;	
	font-family: sf-light;	 
}

button::-moz-focus-inner {
	border:none;
}	
	
.height100 {
	height:100%;
} 
	
ul, li {
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	list-style-type: none;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;

	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
}

ul.mobile {
	opacity: 0;
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
}

.mobile-projects.en, .mobile-projects.ru {
	opacity: 0;
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);	
}

.menu-marker {
	display: block !important;
	position: absolute;
	top: calc(50% - 12px);
	left: 22px !important;
	color: rgb(10, 10, 10);
	height: 50px;
	width: 25px;
}

.cursor {
	width: 25px;
  height: 50px;
}

#msg {
	display: none;
}

.cursor span {
  font-size: 50px;
  left: 0px;
	color: white;
	height: 50px;
  top: 0px;
	line-height: 37px;
		
	/* animation: cursor 2s ease-in-out 3; 
  -webkit-animation: cursor 2s ease-in-out 3;
  -moz-animation: cursor 2s ease-in-out 3;
  -o-animation: cursor 2s ease-in-out 3;
	-ms-animation: cursor 2s ease-in-out 3;
	animation-delay: 11200ms; */
}

/* Правила отображения меню на заглавной странице */

.title-bg {
	opacity: 0;
	background-color:#f3f3f3;
	height: 60px;
	width: 100%;
	z-index: 9;
	position: fixed;
}

.title-bg.black_mobile { /* Заглушка меню */
	opacity: 0.97 !important;
}

.title > a {
	color: rgb(255, 255, 255);
}

.title.black_mobile > a {
	color: rgb(0, 0, 0);
} 

span.hamburger-inner {
	background-color: rgb(255, 255, 255);
}

span.hamburger-inner::after {
	background-color: rgb(255, 255, 255);
}

span.hamburger-inner::before {
	background-color: rgb(255, 255, 255);
}

span.hamburger-inner.color_white {
	background-color:rgb(255, 255, 255);
}

span.hamburger-inner.color_white::after {
	background-color: rgb(255, 255, 255);
}

span.hamburger-inner.color_white::before {
	background-color: rgb(255, 255, 255);
}
	
.language {
	color: white;
	width: auto;
	height: auto;
	display: none;
	opacity: 0;
	transform: scale(0.9);
}

.annotation_ru, .annotation_en {
	padding-top: 15px;
}
